.collections {
  .title {
    font-size: 4rem;
    margin-bottom: 3rem;
  }
}

.collection {
  margin-bottom: 4rem;

  .title {
    font-size: 3rem;
    display: inline-block;
    padding-inline: 1rem;
  }

  .products {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
  }
}
