.about {
  text-align: center;

  .titile {
    margin-bottom: 2rem;
  }

  .text {
    margin-bottom: 4rem;

    .accent {
      color: hsl(var(--clr-prim));
    }
  }

  .img > span {
    max-width: 50rem !important;
  }
}
