.signIn {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  text-align: center;

  .title {
    font-weight: var(--ff-w-b);
  }

  .form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    max-width: 35rem;
    // margin-inline: auto;
  }
}
