.imageCarousel {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imageContainer {
  position: relative;
  width: 100%;

  .imageBtn {
    display: block;
    cursor: pointer;
    border: none;
    border-radius: 1.5rem;
    width: 100%;
    padding: 0;

    &:focus-visible {
      outline-color: hsl(var(--clr-prim));
    }
  }

  .image {
    border-radius: 1.5rem;
    height: 35rem;
    width: 100%;
    object-fit: cover;

    //TODO somehow help the images that need bigger height?
  }

  .btn {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: hsl(var(--clr-white));
    border-radius: 50%;
    border: none;
    width: 3.8rem;
    height: 3.8rem;

    &:hover .icon,
    &:focus-visible .icon,
    &:active .icon {
      span {
        filter: invert(74%) sepia(95%) saturate(4360%) hue-rotate(348deg)
          brightness(104%) contrast(101%);
      }
    }
  }

  .btnPrev > span {
    left: 1.5rem !important;
  }

  .btnNext > span {
    right: 1.5rem !important;
  }

  //TODO
  // {
  // span {} etc
  // }
  .icon > span {
    position: absolute !important;
    width: 0.8rem !important;
    top: 50%;
    transform: translateY(-50%);
  }
  .iconPrev > span {
    left: 33% !important;
  }

  .iconNext > span {
    right: 38% !important;
  }
}

.carousel {
  gap: 2.5rem;
  margin-top: 2.5rem;

  display: none;

  .imageWrapper {
    cursor: pointer;
    position: relative;
    z-index: 1;
    border: none;
    border-radius: 0.8rem;

    &:focus-visible {
      outline-offset: -2px;
      outline: 2px solid hsl(var(--clr-prim));
    }

    &.active::before {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      inset: 0;
      z-index: 2000;

      border-radius: 0.8rem;
      border: 2px solid hsl(var(--clr-prim));
    }
  }

  .image {
    span {
      width: 8rem !important;
      height: 8rem !important;
      border-radius: 0.8rem;
    }

    &.active > span {
      opacity: 0.4;
    }
  }
}

@media (min-width: 62.5em) {
  .carousel {
    display: flex;
  }

  .image-btn {
    width: 45rem;
  }

  .btn {
    display: none;
  }
}

.isModal {
  .image {
    height: 50rem;
    width: 60rem;
  }

  .imageBtn {
    display: inline-block;
    width: 4.5rem;
    height: 4.5rem;

    .imagePrev {
      left: -2.25rem;
    }

    .imageNext {
      right: -2.25rem;
    }
  }

  .icon {
    width: 1rem;

    .iconPrev {
      left: 35%;
    }
    .iconNext {
      right: 35%;
    }
  }
}
