.item {
  display: flex;

  align-items: center;

  width: 100%;

  padding-bottom: 2.5rem;

  &:not(:last-child) {
    border-bottom: var(--border-b-prim);
    border-width: 1px;
  }

  .imgAndDesc {
    display: flex;
    gap: 1.5rem;
  }

  .image {
    width: 4.7rem;
    height: 4.7rem;
    border-radius: 0.5rem;
  }

  .description {
    color: hsl(var(--clr-gray--300));
  }

  .name {
    display: inline-block;
    max-width: 18ch;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .xSign {
    font-size: 1.4rem;
  }

  .fullPrice {
    color: hsl(var(--clr-gray--400));
    font-weight: var(--ff-w-b);
  }

  .delete {
    margin-left: auto;
  }
}
