@mixin shrinkLabel {
  top: 0.2rem;
  left: 1rem;
  transform: scale(0.9);
}

.contact {
  display: flex;
  flex-direction: column;

  .titleAndText {
    margin-bottom: 4rem;
  }

  .title {
    font-weight: var(--ff-w-b);
  }

  .mainBox {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
  }

  /* ------------------------ */
  /* --------- FORM --------- */
  /* ------------------------ */
  .form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    max-width: 30rem;
  }

  .textareaAndLabel {
    display: flex;
    flex-direction: column;
    position: relative;
  }

  // Message input
  .message {
    // Disable textarea resize
    resize: none;

    z-index: 200;
    background-color: transparent;
    border: 2px solid hsl(var(--clr-gray--200));
    border-radius: 0.8rem;
    padding: 1.8rem 1.5rem 0.5rem 1.5rem;

    &:focus-visible {
      outline-color: hsl(var(--clr-prim));
    }

    &:focus ~ .messageLabel {
      @include shrinkLabel();
      color: hsl(var(--clr-prim));
    }
  }

  .messageLabel {
    // Index on label and input for better clickability
    z-index: 100;
    position: absolute;
    left: 1.5rem;
    top: 1.5rem;

    color: hsl(var(--clr-gray--300));
    transition: all 0.2s ease-in-out;

    &.shrink {
      @include shrinkLabel();
    }
  }

  /* ------------------------ */
  /* ----- CONTACT INFO ----- */
  /* ------------------------ */
  .infoBox {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }

  .infoBox {
    // .title {
    //   font-weight: var(--ff-w-b);
    //   margin-bottom: 1rem;
    // }

    .text {
      max-width: 38ch;
    }

    .contact {
      display: flex;
      flex-direction: column;
      gap: 3rem;
    }
  }

  .icon > span {
    width: 2rem !important;
  }

  .iconAndInfo {
    display: flex;
    gap: 1.5rem;
  }
}

.map {
  background-color: rgb(230, 229, 229);
  height: 25rem;
  width: 25rem;
  margin-top: 1rem;
  border-radius: 0.5rem;
  // Flex, so that the loading spinner is in center
  display: flex;
  align-items: center;
  justify-content: center;
}
