.signUp {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  text-align: center;

  .title {
    font-weight: var(--ff-w-b);
  }
}

.singUpForm {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 35rem;
  // margin-inline: auto;

  .btn {
    margin-top: 1.5rem;
  }
}
