.product {
  &:focus-within {
    border-radius: 1rem;
    outline: 2px solid hsl(var(--clr-prim));

    .price {
      transform: translateY(-35%);
    }
  }

  .link {
    &:focus-visible {
      outline: none;
    }
  }

  .imageWrapper > span {
    width: 25rem;
    border-radius: 1rem;

    &:hover {
      outline: 1px solid hsl(var(--clr-prim));

      ~ .desc .price {
        // background-color: red;
        transform: translateY(-35%);
      }
    }
  }

  .desc {
    position: relative;
  }

  // .name {
  //   font-weight: var(--ff-w-b);
  // }

  .price {
    z-index: 110;
    display: inline-block;
    position: absolute;
    bottom: 100%;
    right: 5%;
    background-color: hsl(var(--clr-white));
    transition: transform 0.1s ease-in-out;
  }
}
