.checkoutItem {
  // max-height: 11.2rem;

  .flexContainer {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .item {
    display: flex;
    align-items: flex-start;
    max-width: 35rem;
    padding-bottom: 2.5rem;

    &:not(:last-child) {
      border-bottom: var(--border-b-prim);
      border-width: 1px;
    }

    .image {
      width: 8.7rem;
      height: 8.7rem;
      // can't have gap on flex parent because it causes issues for delete icon
      margin-right: 1rem !important;

      span {
        width: 8.7rem !important;
        height: 8.7rem !important;
        border-radius: 0.5rem;
      }
    }

    .description {
      color: hsl(var(--clr-gray--300));
      display: inline-block;
      max-width: max(16ch, 52vw);
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .xSign {
      font-size: 1.4rem;
    }

    .fullPrice {
      color: hsl(var(--clr-gray--400));
      font-weight: var(--ff-w-b);
    }

    .delete {
      margin-left: auto;
      align-self: end;
    }
  }

  .counter {
    background-color: hsl(var(--clr-gray--100));
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 12rem;
  }

  .counter {
    .btn {
      cursor: pointer;
      background-color: hsl(var(--clr-gray--100));
      border: none;
      border-radius: 1rem;
      padding: 1rem 1.5rem;

      &:hover .counter__icon,
      &:active .counter__icon {
        opacity: 0.5;
      }
    }

    .count {
      font-weight: var(--ff-w-b);
      color: hsl(var(--clr-gray--400));
    }
  }
}
